<!-- About -->
<section class="about" id="about">
    <div class="about--container">
        <div class="container">
            <!--title-->
            <div class="row">
                <div class="col-lg-8">
                    <div class="title-section__light">
                        <h2>About.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc tincidunt ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                    </div>
                </div>
            </div>
            <!--title-->
            <!--Divisor Line-->
            <div class="row">
                <hr class="light-color">
            </div>
            <!--Divisor Line-->
            <!--Team-->
            <div class="team">
                <div class="row">

                    <!--Team Member-->
                    <div class="team__member text-center">
                        <img class="team__avatar" src="https://via.placeholder.com/500" alt="team member pic">
                        <h3 class="team__name mt-3">Jeniffer Martinez</h3>
                        <p class="team__ocupation">Digital Development</p>
                        <div class="follow-us__social-links">
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <!--Team Member-->
                    <!--Team Member-->
                    <div class="team__member text-center">
                        <img class="team__avatar" src="https://via.placeholder.com/500" alt="team member pic">
                        <h3 class="team__name mt-3">Juan David Rendon</h3>
                        <p class="team__ocupation">Digital Development</p>
                        <div class="follow-us__social-links">
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <!--Team Member-->

                </div>
            </div>
            <!--Team-->
            <!--Divisor Line-->
            <div class="row">
                <hr class="light-color">
            </div>
            <!--Divisor Line-->

            <div class="what-we-do">
                <div class="what-we-do--">
                    <h4>we specialize in:</h4>
                </div>

                <!--Icon-->
                <div class="what-we-do__icon">
                    <img src="images/we-do/icon2.png" alt="Interactive Design">
                    <h4 class="what-we-do__title">Interactive Design</h4>
                </div>
                <!--Icon-->
                <!--Icon-->
                <div class="what-we-do__icon">
                    <img src="images/we-do/icon1.png" alt="code">
                    <h4 class="what-we-do__title">Code</h4>
                </div>
                <!--Icon-->
                <!--Icon-->
                <div class="what-we-do__icon">
                    <img src="images/we-do/icon3.png" alt="Illustration">
                    <h4 class="what-we-do__title">Illustration</h4>
                </div>
                <!--Icon-->
                <!--Icon-->
                <div class="what-we-do__icon">
                    <img src="images/we-do/icon4.png" alt="Interactive Design">
                    <h4 class="what-we-do__title">Interactive Design</h4>
                </div>
                <!--Icon-->
                <!--Icon-->
                <div class="what-we-do__icon">
                    <img src="images/we-do/icon5.png" alt="UX/UI">
                    <h4 class="what-we-do__title">UX/UI</h4>
                </div>
                <!--Icon-->
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-9">
                    <div class="testimonials">
                        <div id="testimonials">

                            <div class="testimonials__content">
                                <blockquote class="blockquote mb-0">
                                    <p>I edit the theme , after 2 hours working on it i have ranked A 94% as pagespeed and B 84% as YSlow on gtmetrix.com... GREAT CODING between all the theme i ever use.</p>
                                    <div class="blockquote-footer">Anonymous <cite title="Source Title"><a href="https://themeforest.net/item/hosting-technology-software-and-whmcs-wordpress-theme-megahost/5021665?ref=iwthemes" target="_blank">Hosting WordPress theme with WHMCS - MegaHost</a></cite></div>
                                </blockquote>
                            </div>

                            <div class="testimonials__content">
                                <blockquote class="blockquote mb-0">
                                    <p>Support is amazing. I had a problem and support fixed it immediately. If this is a concern for you when purchasing a template look no further. I can't thank them enough.</p>
                                    <div class="blockquote-footer">Anonymous <cite title="Source Title"><a href="https://themeforest.net/item/studiomultipurpose-videoparallaxslider-bg-theme/6981121?ref=iwthemes" target="_blank">Studio - Html</a></cite></div>
                                </blockquote>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- About -->
