<!-- Contact -->
<section class="contact" id="contact">
    <div class="container">

        <!-- Sponsors Desktop -->
        <div class="sponsors d-none d-md-block">
            <div class="row">
                <div class="col-6 col-md-3">
                    <img src="images/sponsors/codecanyon.png" alt="" class="mr-3">
                </div>
                <div class="col-6 col-md-3">
                    <img src="images/sponsors/graphicriver.png" alt="" class="mr-3">
                </div>
                <div class="col-6 col-md-3">
                    <img src="images/sponsors/photodune.png" alt="" class="mr-3">
                </div>
                <div class="col-6 col-md-3">
                    <img src="images/sponsors/themeforest.png" alt="" class="mr-3">
                </div>
            </div>
        </div>
        <!-- Sponsors Desktop -->
        <!-- Sponsors Mobile Carousel -->
        <div class="sponsor-carousel text-center d-md-none">
            <div><img src="images/sponsors/themeforest.png" alt=""></div>
            <div><img src="images/sponsors/graphicriver.png" alt=""></div>
            <div><img src="images/sponsors/photodune.png" alt=""></div>
            <div><img src="images/sponsors/codecanyon.png" alt=""></div>
        </div>
        <!-- Sponsors Mobile Carousel -->
        <!--title-->
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="title-section__dark text-center">
                    <h2>Contact!</h2>
                </div>
            </div>
        </div>
        <!--title-->
        <!--Divisor Line-->
        <div class="row">
            <hr class="dark-color">
        </div>
        <!--Divisor Line-->

        <div class="row justify-content-center">
            <div class="contact__description">
                <p>We're always looking for new projects to work on, <br>if you have some please write us!</p>
                <span class="contact__mail d-block my-4">
                    <a data-toggle="modal" data-target=".ModalContact" role="button">support@iwthemes.com</a>
                </span>
            </div>
        </div>

        <!--Divisor Line-->
        <div class="row">
            <hr class="dark-color">
        </div>
        <!--Divisor Line-->

        <div class="row">
            <!--Phone-->
            <div class="contact__phone">
                <i class="far fa-comment-alt"></i>
                <a href="tel:0000000" class="d-block mt-3">(+57)-1234-444-00</a>
            </div>
            <div class="contact__location">
                <i class="fas fa-map-marker-alt"></i>
                <address>
                    <span class="d-block mt-4">We're at Indonesia!</span>
                </address>
            </div>
            <!--Location-->
        </div>

    </div>
</section>
