@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var siteSettings = Umbraco.ContentAtRoot().FirstOrDefault()?.DescendantsOrSelf<SiteSettings>().FirstOrDefault();
}
<footer class="site-footer">
    <div class="container">
        @if (siteSettings is not null)
        {
            @await Html.GetBlockGridHtmlAsync(siteSettings, "footerContentSection")
        }
    </div>
</footer>