      <!-- Home -->
<section class="hero-home" id="home">
    <div class="container">
        <div class="row">
            <div class="hero-home__container">
                <div class="hero-home__container-centered d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="hero-home__title">We are <span class="hero-home__text-biger d-block text-uppercase">Studio</span></h1>
                        <hr class="light-color">
                        <p class="hero-home__description">Digital marketing strategies enhance revenue growth<br> expectancy nearly 3 times over.</p>
                        <a class="btn btn-outline-primary btn-lg mt-4" data-toggle="modal" data-target=".ModalContact" role="button"><span>Talk with Us</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>