@* <!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Studio is a single responsive Landing Page html theme. Perfect to promote your work, your business or yourself." />
    <meta name="keywords" content="themeforest,iwthemes, studio landing page" />
    <meta name="author" content="iwthemes" />

    <!--Favicon-->
    <link rel="icon" href="images/logo.png">
    <!--Favicon-->
    <!-- Main Styles - CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Main Styles - CSS -->

    <title>Studio One Site Page</title>
</head> *@
