 <!-- Services -->
<section class="service" id="services">
    <div class="service--container">
        <div class="container">
            <!--title-->
            <div class="row">
                <div class="col-lg-9">
                    <div class="title-section__light">
                        <h2>Services.</h2>
                        <span class="title-section__background">Services</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc tincidunt ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                    </div>
                </div>
            </div>
            <!--title-->
        </div>
    </div>
</section>
<!-- Services -->
<!-- Services Carousel -->
<section class="services-description">
    <div class="container">
        <!--Carousel for-->
        <div class="services-description__screen">

            <div class="slider-for-services">
                <div><img src="https://via.placeholder.com/1100x510" alt=""></div>
                <div><iframe src="https://www.youtube.com/embed/SBP6Y7iDe3o"></iframe></div>
                <br>
                <div><img src="https://via.placeholder.com/1100x510" alt=""></div>
                <div><iframe src="https://www.youtube.com/embed/SBP6Y7iDe3o"></iframe></div>
            </div>

        </div>
        <!--Carousel for-->
    </div>


    <div class="container">
        <div class="services-description__list">
            <!--Carousel thumbs-->
            <div class="slider-nav-services">
                <div>
                    <i class="fas fa-adjust"></i>
                    <h4 class="services-description__title">Design</h4>
                    <p class="services-description__">Quickly turn ideas into powerful screen designs with intuitive vector-based drawing and flexible layers.</p>
                </div>

                <div>
                    <i class="fas fa-anchor"></i>
                    <h4 class="services-description__title">Mobile Ready</h4>
                    <p class="services-description__">Effortlessly animate transitions and add micro-interactions to transform your static screens into working prototypes.</p>
                </div>

                <div>
                    <i class="fas fa-brain"></i>
                    <h4 class="services-description__title">Photography</h4>
                    <p class="services-description__">Seamlessly navigate the entire design process in one place, keeping everyone fully engaged and notified of changes.</p>
                </div>

                <div>
                    <i class="fas fa-bug"></i>
                    <h4 class="services-description__title">Support</h4>
                    <p class="services-description__">Seamlessly navigate the entire design process in one place, keeping everyone fully engaged and notified of changes.</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <!--Carousel thumbs-->
        </div>
    </div>
</section>
<!-- Services Carousel -->