      <!-- Works -->
<section class="works" id="work">
    <br>
    <br>
    <br>
    <div class="container">
        <!--title-->
        <div class="row">
            <div class="col-lg-8">
                <div class="title-section__dark">
                    <h2>Works.</h2>
                    <span class="title-section__background">WORKS</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae sem ac nunc tincidunt ullamcorper vitae sit amet tortor. Integer quam velit.</p>
                </div>
            </div>
        </div>
        <!--title-->
        <!--Divisor Line-->
        <div class="row">
            <hr class="dark-color">
        </div>
        <div class="row align-items-center pb-5 ">
            <div class="follow-us__text">
                <p>Do you want to see more? <a href="#">Follow Us:</a> </p>
            </div>

            <div class="follow-us__social-links text-md-right services-description">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>

