@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>
@{
    var image = Model.Content.Value<IPublishedContent>("picture");
}

@if (image != null)
{
    <div class="logo-container">
        <a href="#home">
            <img src="@image.Url()" alt="Logo" style="max-height: 60px; width: auto; display: flex;" />
        </a>
    </div>
}