@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    if (Model?.Areas.Any() != true) { return; }
}

<div class="row align-items-center">
    @foreach (var area in Model.Areas)
    {
        <div class="row align-items-center">
            @await Html.GetBlockGridItemAreaHtmlAsync(area)
        </div>
    }
</div>
